
.home{
    height: 81.8vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tittle{
  
  font-weight:900;
  font-style: italic;
  color:#313131;
  margin-right: 100px;
}
.buttons{
    gap: 10px;
    margin-top: 20px;
    margin-right: 100px;
}