.perfil{
    margin-top: 70px;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-perfil{
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 30px;
    width: 1000px;
    height: 400px;
    border-radius: 10px;
}
.perfil-img{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.perf-desc{
    display: flex;
    width: 500px;
    flex-direction: row;
    font-weight: 700;
    align-items:start;
    justify-content: space-between;
    

}
.perf-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.perf-lastname{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.input{
    
    width: 50%;
    height: 30px;
    margin-left: 30px;
    align-items: center;
}
.perf-forms{
    width: 350px;
    margin-top: 3px;
   
}
.button{
    margin-top: 50px;
    margin-left: 80px;
}