@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.App {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 5px;
}

.himage {
    height: 450px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: initial;
}

.galeria {
    display: grid;
    border: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 1em;
}

.logo {
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;

}
.find-product{
    margin-top: 100px;
    
}
.search{
    display: flex;
    width: 38%;
    justify-content: space-evenly;
    padding-top:10px ;
  }
  
  .search select{
    width: 48%;
  }
  
  .search input{
    width: 48%;
  }